/* .container{
    width: 90%;
    margin: 0 auto;
} */

.control{
    margin: 40px auto;
    width: 300px;
    text-align: center;
    display: block;
}
.img{
    width: 200px;
    display: block;
    margin: 0px auto 40px;
}

.title{
    background: #fff;
    text-align: center;
    padding: 20px;
    font-size: 26px;
    color:#555;
}
.county_picker{
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 10px;
    /* width: 300px; */
    /* border: 1px solid #ccc; */
    margin: 50px auto;
}
.card_container{
    display: flex;
    /* align-items: center; */
    margin: auto;
    width: 1000px;
}

@media(max-width:680px){
    .card_container{
        flex-direction: column;
        width: auto;
    
    }
}